{% extends 'base.html' %}

{% block content %}

<h1>Forms</h1>
<ul>
    <li><a href="{{ url_for('html') }}">HTML Form</a></li>
    <li><a href="{{ url_for('basic') }}">Basic Form</a></li>
    <li><a href="{{ url_for('bootstrap') }}">Bootstrap Style Form</a></li>
    <li><a href="{{ url_for('upload') }}">File Upload</a></li>
    <li><a href="{{ url_for('multi_upload') }}">Multiple Files Upload</a></li>
    <li><a href="{{ url_for('integrate_ckeditor') }}">Integrate CKEditor with Flask-CKEditor</a></li>
    <li><a href="{{ url_for('two_submits') }}">two-submits</a></li>
    <li><a href="{{ url_for('multi_form') }}">multi-form</a></li>
    <li><a href="{{ url_for('multi_form_multi_view') }}">multi-form-multi-view</a></li>
    <li><a href="{{ url_for('dropzone_upload') }}">Integrate DropZone.js with Flask-DropZone</a></li>
</ul>
{% endblock %}